node_modules/
dest/

# Ignore all files inside the subfolders
tmux-files/nvim-sessions/*
tmux-files/sessions/*
git-files/untracked/*

# Track the directories themselves
!tmux-files/
!tmux-files/nvim-sessions/
!tmux-files/sessions/
!git-files/
!git-files/untracked/

# Ignore sub-subfolders (and files) inside the subfolders
tmux-files/nvim-sessions/*/*
tmux-files/sessions/*/*
git-files/untracked/*/*
